@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    padding: 0;
    margin: 0;
}
img {
    outline: none;
    border: none;
    border-width: 0;
    margin: 0;
    padding: 0;
}
.btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.slide-in-right{
    animation: slide-in-right 200ms;
}

.hidden-scroll {
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hidden-scroll::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
}

.inward-shadow {
    box-shadow: inset 0 -40px 30px rgba(0, 0, 0, 0.5);
}

.inset-fade-bottom {
    position: absolute;
}

.inset-fade-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    pointer-events: none;
}

.small-inset-fade-bottom {
    position: absolute;
}
.small-inset-fade-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    pointer-events: none;
}

.flashing-red-border {
    animation: flash-red-border 1s infinite;
}
.pulse-animation{
    animation: pulse 500ms infinite alternate;
}
.animate-pulse-expand{
    animation: animate-pulse-expand 1s infinite;
}

@keyframes  animate-pulse-expand {
    from {
        opacity: 75;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 5;
    }
}
@keyframes flash-red-border {
    0%, 100% {
        border-color: red;
    }
    50% {
        border-color: transparent;
    }
}


@keyframes slide-in-right {
    from {
        right: -100%;
    }
    to{
        right: 0%;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(.75);
    }
}