@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.slide-in-right{
    animation: slide-in-right 200ms;
}
@keyframes slide-in-right {
    from {
        right: -100%;
    }
    to{
        right: 0%;
    }
}